<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beashadow.shardingjdbcexample.mapper.TbOrderMapper">
    <insert id="insert">
       insert into t_order (price,user_id,status )value (#{record.price},#{record.userId},#{record.status})
    </insert>

   <!-- <resultMap id="tbOrderResultMap" type="com.beashadow.shardingjdbcexample.domain.TbOrder">
        <id column="order_id" property="orderId"/>
        <result column="price" property="price"/>
        <result column="status" property="status"/>
        <result column="user_id" property="userId"/>
    </resultMap>-->
    <select id="selectListByOrderIdList" resultType="com.beashadow.shardingjdbcexample.domain.TbOrder">
        select * from t_order where order_id  in
        <foreach collection='list' open="(" separator="," close=")" item="item" index="index">
            #{item}
        </foreach>
    </select>
    <select id="selectListByOrderIdListAndUserId" resultType="com.beashadow.shardingjdbcexample.domain.TbOrder">
        select * from t_order where order_id in
        <foreach collection="orderIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and user_id = #{userId}
    </select>
</mapper>
